<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/fifth.css">
  <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="/javascripts/fifth.js"></script>
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">第五关:水中月,镜中花</h1>
		<p class="tips">一切不过是虚空一场！(ps:倒影)</p>
		<div class="pic-box">
			<img src="../images/HCI.png">
			<img src="../images/pic_H.png" class="pic_H">
			<img src="../images/pic_C.png" class="pic_C">
			<img src="../images/pic_I.png" class="pic_I">
		</div>
		<div class="code-box">
			<div class="code-item">
				<p class="code-first">.pic_H{</p>
				<textarea class="code-text" id="H-code"></textarea>
				<p class="code-last">}</p>
			</div>
			<div class="code-item">
				<p class="code-first">.pic_C{</p>
				<textarea class="code-text" id="C-code"></textarea>
				<p class="code-last">}</p>
			</div>
			<div class="code-item">
				<p class="code-first">.pic_I{</p>
				<textarea class="code-text" id="I-code"></textarea>
				<p class="code-last">}</p>
			</div>
			<button class="code-check-btn" type="submit">执行</button>
		</div>
	</div>
</body>
</html>