<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/first.css">
  <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="/javascripts/first.js"></script>
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">HCI前端智勇闯关-第一季</h1>
		<p class="title-aside">
			引言:这只限于学校内娱乐闯关，大牛请别鄙视我们年轻的学生们
		</p>
		<p class="title-aside">ps:请用高级浏览器闯关,IE10,Chrome,FF,Safari或具有他们内核的浏览器都可以</p>
		<div class="info-box">
			<p class="tips">
				tips:看东西很多时候并不能看表面，不妨看看代码吧！
			</p>
			<div class="hidden-box" action="/second" method="get">
				<h2 class="hidden-box-title">WelCome!</h2>
				<div class="shy-img-box">
					<img src="../images/first_shy.png">
				</div>
				<div class="pass-box">
					<p class="pass-big-title">亲！</p>
					<p class="pass-content">你看穿人家心思了!</p>
					<button class="pass-btn">下一关</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>