<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/fourth.css">
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">第四关:四大皆空</h1>
		<p class="tips">智勇者需要虚怀若谷,心无杂念,犹如太极的忘我境界！假如你有认真留意前面几关！这关根本就形如虚设！</p>
	</div>
</body>
</html>