<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/seventh.css">
  <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="/javascripts/seventh.js"></script>
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">第七关:轻松一刻！看图写代码</h1>
		<p class="tips">恭喜你，终于熬到最后一关了，这关就轻松一下吧！以前三四年级的时候经常做看图写话，现在长大了当了码农了，就来个看图写代码吧！</p>
		<div class="pic-box">
			<div class="circle-box">
				<p class="text">例子:</p>
				<img src="../images/circle.png" class="circle-model">
				<p class="text">要求:</p>
				<p class="text">1:直径为150px;</p>
				<p class="text">2:背景颜色为#ff9333</p>
				<div id="circle"></div>
			</div>
			<div class="triangle-box">
				<p class="text">例子:</p>
				<img src="../images/triangle.png" class="triangle-model">
				<p class="text">要求:</p>
				<p class="text">1:高为80px;</p>
				<p class="text">2:背景颜色为#ff9333</p>
				<div id="triangle"></div>
			</div>
		</div>
		<div class="code-box">
			<div class="code-item">
				<p>#circle:{</p>
				<textarea class="code-text" id="circle-code"></textarea>
				<p>}</p>
			</div>
			<div class="code-item">
				<p>#triangle:{</p>
				<textarea class="code-text" id="triangle-code"></textarea>
				<p>}</p>
			</div>
			<button class="submit">提交</button>
		</div>
	</div>
</body>
</html>