<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/sixth.css">
  <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
  <script type="text/javascript" src="/javascripts/sixth.js"></script>
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">第六关:不可能的世界和平！</h1>
		<p class="tips">相传在某一个古庙有3根木桩，有24个铁盘由小到大的放置在其中的1根木桩下，庙中流传着一个传说：“如果有一天能把24个铁盘，从其中一根木桩移至另一根木桩，且必须遵守着：</p>
		<p class="tips">
			(1)每日只能搬动1个铁盘，而且只能从最上面的铁盘开始搬动。
		</p>
		<p class="tips">
			(2)必须维持较小的铁盘在上方的原则，则当24个铁盘完全搬至另一个木桩时，世界就会永久和平”。
		</p>
		<p class="tips">(其实是需要2E24-1日才能移动话，世界是不会和平)</p>
		<div class="pic-box">
			<img class="pillar pillar-01" src="../image/pillar.png"></img>
			<img class="pillar pillar-02" src="../image/pillar.png"></img>
			<img class="pillar pillar-03" src="../image/pillar.png"></img>
			<img class="discus discus-01" src="../image/discus_01.png"></img>
			<img class="discus discus-02" src="../image/discus_02.png"></img>
			<img class="discus discus-03" src="../image/discus_03.png"></img>
			<img class="discus discus-04" src="../image/discus_04.png"></img>
		</div>
		<div class="code-box">
			<div class="code-box-row">
				<select class="code-from code-input">
					<option>A</option>
					<option>B</option>
					<option>C</option>
				</select>
				<span>-></span>
				<select class="code-to code-input">
					<option>A</option>
					<option>B</option>
					<option>C</option>
				</select>
				<span>;</span>
				<button class="code-btn">移动</button>
			</div>
		</div>
		<button class="add-code-btn">重置</button>
	</div>
</body>
</html>