<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/third.css">
</head>
<body>
	<header class="header">
		<div class="blue-rec"></div>
		<div class="green-rec"></div>
		<div class="yello-rec"></div>
		<div class="red-rec"></div>
	</header>
	<div class="body">
		<h1 class="title">第三关:01的世界?</h1>
		<p class="tips">很多时候看见65,程序员很自然就联想到A!可是在计算机里面,计算机并不能识别65！</p>
		<h2 class="code-title">程序员的成长</h2>
		<div class="code-box">
			<img src="../images/third_code.png" class="code-img">
			<p class="code-content">0100100001100001011100000111000001111001001000000101000001111001011101000110100001101111011011100010000001011001011001010110000101110010001000000110000101101110011001000010000001000010011001010111001101110100001000000101011101101001011100110110100000100000011001100110111101110010001000000111100101101111011101010010000000100001</p>
		</div>
		<form class="code-form" onSubmit="true" action="/fourth" method="get">
			<p class="aside">你想到了么？</p>
			<div class="hidden-box">
				<input class="code-input" type="text" placeholder="结果"></input>
				<button class="code-btn">提交</button>
				<div class="point-container">
			        <div class="point-box point-box-1">
			          <div class="point point1"></div>
			        </div>
			        <div class="point-box point-box-2">
			          <div class="point point2"></div>  
			        </div>
			        <div class="point-box point-box-3">
			          <div class="point point3"></div>
			        </div>
			        <div class="point-box point-box-4">
			          <div class="point point4"></div>
			        </div>
			        <div class="point-box point-box-5">
			          <div class="point point5"></div>
			        </div>
			        <div class="point-box point-box-6">
			          <div class="point point6"></div>
			        </div>
			     </div>
		     </div>
		</form>
	</div>
</body>
</html>