*{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	height: 7px;
}
.header div{
	float: left;
	width: 25%;
	height: 7px;
}
.blue-rec{
	background-color: #003595;
}
.green-rec{
	background-color: #00A702;
}
.yello-rec{
	background-color: #E1AF00;
}
.red-rec{
	background-color: #CD2B26;
}

.body{
	width: 1024px;
	margin: auto;
}
.title{
	margin:50px 30px 30px 35px;
	font-size: 43px;
	color: #db3131;
}
.title-aside{
	color: #cb605a;
}
.info-box{
	width: 800px;
	height: 450px;
	margin:60px auto;
	border: 1px dashed #000;
}
.tips{
	padding: 10px 0 10px 20px;
	border-bottom: 1px dashed #929292;
	color: #929292;
}
.hidden-box{
	display: none;
	width: 500px;
	height: 350px;
	margin: 30px auto;
}
.hidden-box-title{
	font-size: 30px;
	color: #929292;
	text-align: center;
	margin-bottom: 20px;
}
.shy-img-box{
	width: 200px;
	height: 250px;
	float: left;
}
.pass-box{
	opacity:0.05;
	width: 200px;
	height: 250px;
	margin-left: 250px;
	color: #292929;
}
.pass-big-title{
	font-size: 35px;
}
.pass-content{
	margin: 30px 0 15px 37px;
}
.pass-btn{
	width: 85px;
	height: 28px;
	margin-left:55px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	color: #585757;
	background: gradient(linear, 0 0 ,0 100%,from(#eeeeee),to(#d4d4d4));
	background: -webkit-gradient(linear, 0 0 ,0 100%,from(#eeeeee),to(#d4d4d4));
	background: -moz-gradient(linear, 0 0 ,0 100%,from(#eeeeee),to(#d4d4d4));
	cursor: pointer;
}